/*
    Table of Contents

    1. Default Html
        - 1.1 Font
        - 1.2 Html Tags
        - 1.3 Html Fields
    2. Classes
        - 2.1 General
        - 2.2 Common
    3 Content
        - 3.1 Information bar
        - 3.2 Livingroom
    4. Keyframes
        - 4.1 Animation Classes
        - 4.2 Keyframes
    5. Responsive
        - Use the same Table of Contents markup for all @media sections.
*/

/*
    1. Default Html

    1.1 Font
*/

@font-face {
    font-family: Arcon;
    src: url(arcon.regular.otf);
}

/* 
    1.2 Html tags
*/

* {
    margin: 0;
    padding: 0;
}

html, body, form, .container {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, p, span {
    font-weight: 400;
    letter-spacing: 1px;
    color: #f4f4f4;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 19px;
}

a, p {
    font-size: 14px;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

    a, a:hover, a:active, a:focus {
        -moz-user-select: none;
        outline: none;
    }

/*
    1.3 Html fields
*/

/*
    2. Classes

    2.1 General
*/

.button-press {
    /* CSS3 Transition */
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.button-press:active {
    background-color: rgba(0, 0, 0, 0.07);
    color: rgba(255, 255, 255, 0.8);
    padding-top: 7px;

    /* CSS3 Shadow */
    -webkit-box-shadow: inset 0 7px 7px 0 #000000;
    box-shadow: inset 0 7px 7px 0 #000000; 
}

.container,
.information-bar,
.content {
    overflow: hidden;
}

.content,
.information-bar {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    cursor: default;
}

/* JQuery Notification */
.notification-container {
    height: auto;
    max-width: 260px;
    opacity: 0.95;
    padding: 15px;
    background: none repeat scroll 0 0 #333c47;
    border: 1px solid rgba(50, 150, 225, 0.5);
    border-radius: 5px;

    /* CSS3 Shadow */
    -webkit-box-shadow: 1px 0 3px 1px #000000;
    box-shadow: 0 0 5px 0 #000000;
}

.notification-position {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.notification-container {
    cursor: default;

    /* Ignore Text Highlight */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section.content {
    height: calc(100% - 97px);
    
    background: rgb(244,244,244);
    background: -moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(229,229,229,1) 100%);
    background: linear-gradient(to bottom, rgba(244,244,244,1) 0%,rgba(229,229,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e5e5e5',GradientType=0 );
}

/* Tile */

.tile {
    width: 50%;
    height: 50%;
    float: left;
    border: 1px solid #202228;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.agenda {
    background-color: #00e06e;
    color: #f4f4f4;
}

.staff {
    background-color: #7a5195;
    color: #f4f4f4;
}

.general {
    background-color: #ff9200;
    color: #f4f4f4;
    font-size: 30px;
    font-size: 2.085vw;
}

.general .tile-wrapper .tile-container-cell {
    text-align: left;
    padding-left: 10%;
}

.chores {
    background-color: #00aaff;
    color: #f4f4f4;
}

.agenda h2, 
.staff h2,
.general h2,
.chores h2 {
    display: block;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-weight: 400;
    font-size: 48px;
    font-size: 2.5vw; /* Scalable text */
    /*font-size: 3em; /* zoom */
    overflow: hidden;
}

.agenda h2 {
    background-color: #07bf62;
}

.agenda a {
    font-size: 40px;
    font-size: 2.085vw;
    font-weight: 400;
}

.staff h2 {
    background-color: #683d84;
}

.general h2 {
    background-color: #eb8700;
}

.chores h2 {
    background-color: #009eed;
}

/*
    2.2 Common
*/

/* Floating */
.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.disabled {
    cursor: not-allowed;
    filter: grayscale(100%);
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
}

/*
    3. Content
    
    3.1 Information bar    
*/

.information-bar {
    padding-right: 30px;
    height: 97px;
    background-color: #384c54;
    border: 1px solid #202228;
    border-top: 2px solid #202228;
    color: #f4f4f4;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.information-bar div {
    font-size: 40px;
    font-size: 2.085vw;
    line-height: 97px;
    float: left;
    height: 100%;
}

.information-bar div:first-child {
    width: 4%;
    text-align: left;
    display: block;
}

.information-bar div:first-child a {
    display: block;
    text-align: center;
}

.information-bar div:first-child i {
    font-size: 2.5vw;
    vertical-align: middle;
}

.information-bar div:nth-child(2) {
    width: 36%;
    text-align: left;
}

.information-bar div:nth-child(3) {
   width: 20%;  
   text-align: center;
}

.information-bar div:nth-child(4) {
    width: 40%;
    text-align: right;
}

.information-bar div:nth-child(3)::after {
    clear: both;
}

/* 3.2 Livingroom */

.amsta {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px;
    margin-bottom: 20px;
    margin-right: 25px;
}

.livingroom {

}

.livingroom h2 {
    color: #202228;
    text-align: center;
    height: 50px;
    line-height: 70px;
}

.tile-wrapper-livingroom {
    display: table;
    margin: 25px;

    background-color: #ef3c3c;
    height: 250px;
    border: 2px solid #202228;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: middle;
    width: Calc(Calc(100% / 3) - 50px);
    min-width: auto; /*IE fix */
    float: left;    
}

.red-bg {
    background: rgb(239,60,60);
    background: -moz-linear-gradient(top, rgba(237,101,101,1) 0%, rgba(239,60,60,1) 100%);
    background: -webkit-linear-gradient(top, rgba(237,101,101,1) 0%,rgba(239,60,60,1) 100%);
    background: linear-gradient(to bottom, rgba(237,101,101,1) 0%,rgba(239,60,60,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed6565', endColorstr='#ef3c3c',GradientType=0 );
}

.orange-bg {
    background: rgb(255,146,0);
    background: -moz-linear-gradient(top, rgba(255,167,53,1) 0%, rgba(255,146,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,167,53,1) 0%,rgba(255,146,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,167,53,1) 0%,rgba(255,146,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa735', endColorstr='#ff9200',GradientType=0 );
}

.purple-bg {
    background: rgb(122,81,149);
    background: -moz-linear-gradient(top, rgba(130,103,147,1) 0%, rgba(122,81,149,1) 100%);
    background: -webkit-linear-gradient(top, rgba(130,103,147,1) 0%,rgba(122,81,149,1) 100%);
    background: linear-gradient(to bottom, rgba(130,103,147,1) 0%,rgba(122,81,149,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#826793', endColorstr='#7a5195',GradientType=0 );
}

.green-bg {
    background: rgb(0,224,110);
    background: -moz-linear-gradient(top, rgba(48,221,132,1) 0%, rgba(0,224,110,1) 100%);
    background: -webkit-linear-gradient(top, rgba(48,221,132,1) 0%,rgba(0,224,110,1) 100%);
    background: linear-gradient(to bottom, rgba(48,221,132,1) 0%,rgba(0,224,110,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30dd84', endColorstr='#00e06e',GradientType=0 );
}

.blue-bg {
    background: rgb(0,170,255);
    background: -moz-linear-gradient(top, rgba(56,188,255,1) 0%, rgba(0,170,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(56,188,255,1) 0%,rgba(0,170,255,1) 100%);
    background: linear-gradient(to bottom, rgba(56,188,255,1) 0%,rgba(0,170,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38bcff', endColorstr='#00aaff',GradientType=0 );
}

.yellow-bg {

}

.livingroom-tile {
    color: #f4f4f4;
    font-size: 30px;
    font-size: 2em;

}

.livingroom .livingroom-tile {

}

/* Staff */

.tile-wrapper {
    height: Calc(100% - 100px);
    width: 100%;
    display: table;
}

.tile-container-cell {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.tile-container-row {
    text-align: center;
    vertical-align: middle;
    display: table-row;
}

.staff .tile-container-row h3,
.staff .tile-container-cell h3 {
    /*display: inline-block;
    font-weight: 400;
    font-size: 30px;
    width: 230px;
    margin: 0px 20px;
    margin-bottom: 20px;*/

    display: inline-block;
    font-weight: 400;
    font-size: 30px;
    margin: 2.5% 0;
    font-size: 1.55vw;
    width: 100%;
}

.staff .tile-container-row h4,
.staff .tile-container-cell h4 {
    /*display: inline-block;
    width: 230px;
    margin: 0px 20px;
    margin-top: 25px;*/

    display: inline-block;
    width: 100%;
    margin: 2.5% 0;
    font-size: 1.1vw;
}

.chores .tile-container-row h3,
.chores .tile-container-cell h3 {
    /*display: inline-block;
    width: 116px;
    margin: 0 60px;
    font-weight: 400;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 5px;*/

    display: inline-block;
    width: 100%;
    font-weight: 400;
    margin: 2.5% 0;
    font-size: 1.55vw;

}

.image {
    border: 15px solid #ffffff;
    background-color: #f4f4f4;
}

.image-staff {
    /*border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 20px;
    border: 15px solid #683d84;*/

    border-radius: 50%;
    margin: 0 Calc(20% / 10);
    border: 15px solid #683d84;
}

.image-staff-2 {
    width: 32%;
}

.image-staff-3 {
    width: 50%;
}

.image-chores {
    border-radius: 50%;
    width: 31%;
    margin: 2% 25%;
    border: 8px solid #009eed;
}

/* Mobile */

#mobile-container {
    display: none;
}

/* 
    4. Keyframes

    4.1 Animation Classes
*/

/*
    4.2 Keyframes
*/

/* 
    5. Responsive 
*/