/* Default Rules */

/*
    Table of Contents

    1. Default Html
        - 1.1 Font
        - 1.2 Html Tags
        - 1.3 Html Fields
    2. Classes
        - 2.1 General
        - 2.2 Common
*/

/*
    1. Default Html

    1.1 Font
*/

@font-face {
    font-family: Arcon;
    src: url(arcon.regular.otf);
}

/* 
    1.2 Html tags
*/

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", "Open Sans", sans-serif;
}

html, body, form {
    background-color: #ffffff;
}

figcaption {
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 75%;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6, a, p {
    font-weight: 400;
    letter-spacing: 1px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 19px;
}

a, p {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: rgb(255, 167, 53);
}

    a:hover {
        text-decoration: none;
    }

    a, a:hover, a:active, a:focus {
        -moz-user-select: none;
        outline: none;
    }

/*
    2. Classes

    2.2 Common
*/

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.disabled {
    cursor: not-allowed;
    filter: grayscale(100%);
}

.hidden {
    display: none;
    visibility: hidden;
}

.no-select {
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
}

.center {
    text-align: center;
}

.no-resize {
    padding: 5px;
    resize: none;
}

.box:first-of-type {
    margin-top: 0;
}

.box {
    background-color: #fff;
    border-color: #f08a00 #e5e2df #e5e2df;
    border-radius: 3px;
    border-style: solid;
    border-width: 4px 1px 1px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    margin-top: 20px;
    overflow: auto;
    padding: 15px 20px 20px;
}

    .box h3:first-of-type {
        padding-top: 0;
    }

    .box h3 {
        padding: 10px 0;
    }

* {
    font-family: "Lato","Open Sans",sans-serif;
    margin: 0;
    padding: 0;
}
* {
    font-family: "Lato","Open Sans",sans-serif;
}
* {
    font-family: "Lato","Open Sans",sans-serif;
}
* {
    font-family: "Lato","Open Sans",sans-serif;
}
* {
    font-family: "Lato","Open Sans",sans-serif;
}

/* Sidebar */

#sidebar-container {
    width: 300px;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #596878;
    background: -moz-linear-gradient(-45deg, #596878 0%, #3c454f 100%);
    background: -webkit-linear-gradient(-45deg, #596878 0%,#3c454f 100%);
    background: linear-gradient(135deg, #596878 0%,#3c454f 100%);
}

/* Header */

#header-container .fa {
    color: #f4f4f4;
    font-size: 30px;
}

#header-container > div#user {
    float: right;
}

#header-container > div#user::after {
    clear: both;
}

#header-container,
#header-container span {
    color: #f4f4f4;
}

#header-container {
    display: table;
    height: 105px;
    position: absolute;
    top: 0;
    width: calc(100% - 300px);
    z-index: 50;
    left: 300px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #f7f7f7;
    padding: 0 20px;
}

    #header-container img, #header-container h1, #header-container h2, #header-container img, #header-container div, #header-container i, #header-container span, #header-container a {
        display: inline;
        vertical-align: middle;
    }

    #header-container h2:first-of-type::before {
        content: "-";
        font-size: 24px;
        margin-right: 5px;
    }

#header-container  h2 {
    font-size: 16px;
    line-height: 97px;
    display: inline-block;
}

#header-container div i {
    height: 100px;
    vertical-align: middle;
    line-height: 88px;
    margin-left: 15px;
    margin-right: 5px;
}

#header-container {
    display: table-cell;

}

/* Content */

#content {
    margin-left: 300px;
    padding: 20px;
    margin-top: 105px;
}

#content span,
#content p {
    color: #202228;
}

.button {
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 44px;
    padding: 5px 15px;
    border-radius: 3px;
    border: none;
    border: 1px solid #e5e2df
}

.button-save {
    margin-right: 15px;
}

.button-save,
.button-cancel {
    /* CSS3 Transition */
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

    .button-cancel:active,
    .button-save:active {
        color: #f4f4f4;
        background-color: #2d3135;
        /* CSS3 Shadow */
        -webkit-box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    }

.buttons {
    border-color: #e5e2df;
    background-color: #f7f7f7;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    padding: 15px 10px;
    margin-top: 30px;
}

/* Content Boxes */

.box {
    border-color: #f08a00 #e5e2df #e5e2df;
    background-color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 4px 1px 1px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    padding: 15px;
    margin-top: 20px;
    overflow: auto;
}

.box:first-of-type {
    margin-top: 0;
}

.box:last-of-type {
    margin-bottom: 0;
}

.box h2 {
    font-size: 24px;
}

.box p:last-child {
    padding-bottom: 0;
}

#explanation-box {
    padding: 15px;
}

#explanation-box h2 {
    padding-bottom: 5px;
    color: #202020;
}

#explanation-box h2 {
    font-size: 24px;
}

#explanation-box span {
    color: #202020;
}

.shortcut {
    background-color: rgba(255,146,0, 0.05);
    border-radius: 3px;
    line-height: 1.8em;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 5px 10px;
}

.shortcut a {
    color: #f08a00;
    font-size: 17px;
    font-family: "Lato", "Open Sans", sans-serif;
    cursor: pointer;
}
.shortcut a:before {
   margin-right: 5px;
   color: #139b49;
   font-family: 'FontAwesome';
}

.shortcut a {
    margin-left: 5px;
}

.shortcut a:first-of-type {
    margin-left: 0;
}

.shortcut a:hover:before {
    color: #1cb94e;
}


/* Sidebar - Navigation */

#sidebar-container .logo-container {
    height: 65px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 30px;
    text-align: center;
}

    #sidebar-container .logo-container img {
        height: 65px;
        background-repeat: no-repeat;
    }

 #sidebar-container #nav #mobile-menu {
    display: none;
}

 #sidebar-container #navigation-container { 
    position: relative;
    width: 100%;
}

    #sidebar-container #navigation-container ul li {
        height: 58px;
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 300px;
        color: #dadada;

        /* Ignore Text Highlight */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

 #sidebar-container #navigation-container ul li a {
    color: #cdcdcd;
    padding-left: 30px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    line-height: 58px; 

    /* CSS3 Transition */
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

    #sidebar-container #navigation-container ul#nav li i {
        font-size: 21px;
        padding-right: 10px;
        text-align: center;
        width: 25px;
    }

 #sidebar-container #navigation-container .nav-menu:hover {
    /* CSS3 Transition */
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.nav-menu-active {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #3e4b57;
    border-left: 4px solid #795094;
    border-top: 1px solid #606c79;
}

#sidebar-container #navigation-container ul li.nav-menu-active i,
#sidebar-container #navigation-container ul li.nav-menu-active a {
    color: #ffffff;
}

.nav-menu {
    border-bottom: 1px solid #3e4b57;
    border-top: 1px solid #606c79;
}

#sidebar-container #navigation-container .nav-menu:active {
    background-color: #2d3135;
    border-left: 4px solid #664080;
    /* CSS3 Shadow */
    -webkit-box-shadow: inset 0 5px 5px 0 #000000;
    box-shadow: inset 0 5px 5px 0 #000000;
}

#sidebar-container #navigation-container .nav-menu:hover a {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
}

/* GridView */

#content .gridview {
    overflow: auto;
}

#content .gridview table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    overflow: hidden;
    color: #5f6062;
    border: none;
}

#content .gridview table tfoot tr td table {
    margin-top: 0;
    width: auto;
}

    #content .gridview table tfoot tr td {
        border-left: 2px solid #596878;
        border-right: 2px solid #596878;
    }

    #content .gridview table tfoot tr td table tr td {
        border: none;
    }

        #content .gridview table tfoot tr td table tr td:first-child {
            border: none;
        }

    #content .gridview table tfoot tr td table tr td:last-child {
        border: none;
    }

    #content .gridview table thead tr {
        color: #ffffff;
        background: #596878;
        background: -moz-linear-gradient(45deg, #596878 0%, #3c454f 100%);
        background: -webkit-linear-gradient(45deg, #596878 0%,#3c454f 100%);
        background: linear-gradient(45deg, #596878 0%,#3c454f 100%);
    }

    #content .gridview table thead th,
    #content .gridview table tbody td {
        padding: 5px 10px;
        border: none;
    }

    #content .gridview table thead th {
        height: 58px;
        font-size: 20px;
    }

        #content .gridview table thead th:first-child {
            border-left: 2px solid #596878;
        }

        #content .gridview table thead th:last-child {
            border-right: 2px solid #596878;
        }

    #content .gridview table tbody td,
    #content .gridview table tfoot td {
        height: 32px;
        border-bottom: 2px solid #596878;
    }

        #content .gridview table tbody td:first-child {
            border-left: 2px solid #596878;
        }

        #content .gridview table tbody td:last-child {
            border-right: 2px solid #596878;
        }

    #content .gridview table tbody .alt {
        background-color: #ebebeb;
    }
    
    tr.paging td table tbody tr td span {
    color: #ffffff !important;
    background-color: #596878;
    padding: 3px 5px;
    border-radius: 20%;
    font-size: 16px;
    font-weight: 600;
}

/* Options and icons */

.options {
    text-align: center;
    width: 175px;
    min-width: 175px;
}

    .options a {
        font-size: 22px;
        vertical-align: middle;
        padding: 10px 2px;
    }

#content .gridview a.delete, fa-exclamation-circle,
.fa-exclamation-circle {
    color: #fa010f;
}

#content .gridview .fa-coffee,
.fa-coffee {
    color: #f08a00;
}

#content .gridview .el-broom,
.el-broom {
    color: #00aaff;
}

.fa-times {
    color: #fa010f;
}

.fa-check {
    color: #139b49;
}

.fa-trash {
    color: #fa010f;
}

#content .gridview .fa-clock-o,
.fa-clock-o {
    color: #7a5195;
}

#content .gridview .fa-pencil,
.fa-pencil{
    color: #dc8b14;
}

#content .gridview .fa-plus-circle,
.fa-plus-circle {
    color: #139b49;
}

#content .gridview .fa-search,
.fa-search {
    color: #007cff;
}

#content .gridview .fa-calendar,
.fa-calendar {
    color: #07bf62;
}

#content .gridview .fa-lock,
.fa-lock {
    color: #c9c20b;
}

#content .gridview a {
    color: #40464b;
}

/* Jouw Software ASP ListBox */
.js-listbox-container {
    background-color: #ededed;
    padding: 30px;
    min-width: 347px;
    max-width: 347px;
    border-color: #f08a00 #e5e2df #e5e2df;
    border-radius: 3px;
    border-style: solid;
    border-width: 4px 1px 1px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
}

.js-listbox-wrapper {
    display: inline-block;
}

.js-listbox-button-area {
    display: inline-block;
    padding: 3px 0;
    vertical-align: middle;
}

.js-listbox-button-area ul {
    text-align: center;
    list-style: none;
}

.js-listbox {
    cursor: default;
    display: inline-block;
    min-width: 11.6667em;
    position: relative;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    color: #202228;
}

.js-listbox  {
    height: 100%;
}

.js-listbox-source,
.js-listbox-destination {
    display: inline-block;
    height: 150px;
    vertical-align: middle;
    width: auto;
}

/*.js-listbox-source select {
    width: 80%;
}*/

    .js-listbox-source select > option,
    .js-listbox-destination select > option {
        padding: 5px;
    }

    .js-listbox-source select > option:hover,
    .js-listbox-destination select > option:hover {
        background-color: #f08a00;
        color: #ffffff;
    }

    .js-listbox-source select[multiple] option:checked,
    .js-listbox-destination select[multiple] option:checked {
        background: #795094 linear-gradient(#795094, #795094 0%, #795094 100%);
        color: #ffffff;
    }

        .js-listbox-source select[multiple] option:checked:after,
        .js-listbox-destination select[multiple] option:checked:after {
            color: #ffffff;
        }

/*.js-listbox-destination select {
    width: 100%;
}*/

.js-listbox-button {
    border-radius: 3px;
    font-weight: lighter;
    padding: 6px;
    margin-bottom: 10px;
    color: #ffffff;
}


/* Calendar */
.calendar-wrapper {
    background-color: #f08a00;
    border: 1px solid #e5e2df;
    padding: 30px;
    width: 330px;
    border-color: #f08a00 #e5e2df #e5e2df;
    border-radius: 3px;
    border-style: solid;
    border-width: 4px 1px 1px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
}

.calendar {
    border: none !important;
}

    .calendar tbody tr:first-of-type td {
        background-color: transparent !important;
        font-size: 24px;
        font-weight: lighter;
    }

.calendar-next-prev a  {
    color: #f4f4f4 !important;
    font-size: 42px;
}
.calendar .calendar-title {
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    background-color: transparent !important;
    color: #f7f7f7;
    border: none !important;
}

.calendar .calendar-selected-day {
    background-color: #d2a3b4 !important;
    -webkit-box-shadow: inset 0 0 10px -3px #40464b;
    box-shadow: inset 0 0 10px -3px #40464b;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.calendar-unavailable {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 22px;
    cursor: not-allowed !important;
}

.calendar {
    border-collapse: unset !important;
}

.calendar-day-header {
    padding: 7px 10px;
    border-top: 1px solid #ddd;
}


.calendar .calendar-day, .calendar .calendar-day-header {
 
    font-size: 18px;
    color: #f7f7f7 !important;
    background-color: #f08a00;
}
       
.calendar .calendar-day-header:last-child {
    border-right: none;
}

    .calendar .calendar-day a {
        font-size: 18px;
        color: #f7f7f7 !important;
        padding: 10px;
        display: block;
    }


.calendar tr td.calendar-day, .calendar tr th.calendar-day-header {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.calendar tr td:first-child.calendar-day, .calendar tr th:first-child.calendar-day-header {
    border-left: 1px solid #ddd;
}

.calendar tr td:last-child.calendar-day, .calendar tr th:last-child.calendar-day-header {
    border-right: 1px solid #ddd !important;
}

.calendar tr:last-child td.calendar-day {
    border-bottom: 1px solid #ddd;
}

.calendar .calendar-other-month-day {
    background-color: #f08a00;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #f7f7f7;
    font-weight: 100;
    font-size: 16px;
}

.calendar td:first-child.calendar-other-month-day {
    border-left: 1px solid #ddd;
    height: 42px;
    min-height: 42px;
    max-height: 42px;
}

/* Table add edit */

table.table-add-edit tbody tr td input,
table.table-add-edit tbody tr td .calendar-wrapper,
table.table-add-edit tbody tr td .js-listbox-container,
table.table-add-edit tbody tr td select,
table.table-add-edit tbody tr td textarea {
    margin-bottom: 30px;
}

table .aspNetDisabled {
    padding: 5px 10px;
    cursor: not-allowed;
}

td.label {
    line-height: 2em;
    text-align: left;
    vertical-align: top;
    width: 250px;
    min-width: 175px;
}

td.required::after {
    color: #fa010f;
    content: "*";
    font-size: 20px;
}

span.error {
    color: #fa010f !important;
    margin-left: 15px;
    background-color: #ffd8d8;
    padding: 10px;
    border: 1px solid #fa010f;
    vertical-align: top;
}

/* Loading screen */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 99;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    min-height: 100%;
    width: 100%;
}

.loading {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgb(130, 103, 147) 0%, rgb(122, 81, 149) 100%) repeat scroll 0 0;
    border: 3px solid #f08a00;
    border-radius: 3px;
    color: #f4f4f4;
    font-size: 12pt;
    height: 100px;
    padding: 10px;
    position: fixed;
    width: 200px;
    z-index: 999;
    text-align: center;
    display: none;
}

    .loading small {
        display: block;
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 10px;
    }

/* Widget container */
.widget-container:first-of-type {
    margin-top: 0;
}

.widget-container {
    margin-top: 20px;
    font-size: 0; /* to remove the white-space between divs so %'s work out correctly. */
}

    .widget-container h3:first-of-type {
        padding-top: 0;
    }

    .widget-container h3 {
        padding: 10px 0;
    }

.widget {
    width: 30%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 250px;
    padding: 20px;
    display: inline-block;
    margin-right: 5%;
    border-color: #f08a00 #e5e2df #e5e2df;
    background-color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 4px 1px 1px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    padding: 15px;
    overflow: auto;
    vertical-align: top;
    font-size: 17px;
    background-color: rgba(255,146,0, 0.05);
}

.widget:last-of-type {
    margin-right: 0;
}

.widget i {
    font-size: 30px;
}
.widget p{
    margin: 10px 0;
}
    .widget .fa-coffee {
        color: #f08a00;
    }

    .widget .el-broom {
        color: #00aaff;
    }

    .widget .fa-clock-o {
        color: #7a5195;
    }
    .widget table thead tr td,
    .widget table tbody tr td {
        padding: 5px 0;
    }

    .widget table.living-room-statistics thead tr td:nth-of-type(1n+2),
    .widget table.living-room-statistics tbody tr td:nth-of-type(1n+2) {
        width: 100px;
        text-align: center;
    }

 .widget table tbody tr td i { 
     font-size: 21px; 
 }
    .widget table.living-room-statistics tbody tr td i.fa-check {
        color: #139b49;
    }
    .widget table.living-room-statistics tbody tr td i.fa-times {
        color: #fa010f;
    }

    /* Legenda */
    .widget table.legenda {
        width: 100%;
    }

    .widget table.legenda tbody tr {
        width: 100%;
    }

        .widget table.legenda tbody tr td {
            width: 50%;
            text-align: left;
            vertical-align: middle;
        }

            .widget table.legenda tbody tr td i.fa-plus-circle,
            .widget table.legenda tbody tr td i.fa-reply {
                color: #139b49;
            }

            .widget table.legenda tbody tr td i.fa-times, 
            .widget table.legenda tbody tr td i.fa-trash {
                color: #fa010f;
            }

            .widget table.legenda tbody tr td i.fa-coffee {
                color: #f08a00;
            }

            .widget table.legenda tbody tr td i.fa-trash-o {
                color: #00aaff;
            }

            .widget table.legenda tbody tr td i.fa-clock-o {
                color: #7a5195;
            }

            .widget table.legenda tbody tr td i.fa-pencil {
                color: #dc8b14;
            }

            .widget table.legenda tbody tr td i.fa-search {
                color: #007cff;
            }

            .widget table.legenda tbody tr td i.fa-calendar {
                color: #07bf62;
            }

            .widget table.legenda tbody tr td i.fa-lock {
                color: #c9c20b;
            }

            .widget table.legenda tbody tr td i {
                text-align: center;
                width: 30px;
            }

            .widget table.legenda tbody tr td i span { font-size: 17px; }

/* Table of Contents */

.table-of-contents > ul li {
    list-style: none;

}

    .table-of-contents > ul li a:hover {
        text-decoration: underline;
    }

.table-of-contents ul li {
    padding-top: 1px;
}

.table-of-contents ul ul {
    margin-left: 1.5em;
}

.shortcut .fa-file-pdf-o {
    color: #fa010f;
}

.manual {
    margin-top: 20px;
}

    .manual p,
    .manual h2,
    .manual h3,
    .manual h4,
    .manual h5 {
        margin-bottom: 10px;
        letter-spacing: 1.1px;
        line-height: 23px;
    }

.manual .box > div {
    max-width: 760px;
}

    .manual .box figure {
        float: right;
        margin: 5px 0 0 5px;
    }

/* responsive */
@media screen and (max-width: 48em) {
    #sidebar-container { border-right: none; position: relative; width: 100%; }

    #header, #content, #footer { margin-left: 0; }

    #header-container { display: block; position: unset; width: 100%; }

    #content { margin-top: 0; }

    #header #user { display: none; }
    #sidebar-container ul li a { padding-left: 20px; }
    #sidebar-container #nav { display: none; }
    #sidebar-container #mobile-menu { background: rgba(0, 0, 0, 0) linear-gradient(135deg, #596878 0%, #3c454f 100%) repeat scroll 0 0; border-bottom: 1px solid #313540; border-top: 1px solid #313540; cursor: pointer; display: block; height: auto; padding: 15px 20px; }
    #sidebar-container #mobile-menu .slicknav_icon { display: block; }
    #sidebar-container #mobile-menu .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em; }
    #sidebar-container #mobile-menu #slicknav_menu .slicknav_icon-bar { background-color: #dadada; }
    #sidebar-container #mobile-menu #slicknav_menu .slicknav_icon-bar { border-radius: 1px; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); display: block; height: 0.125em; width: 1.125em; }
    #sidebar-container #navigation-container ul li { width: auto; }

    .textbox { width: auto; }
    .label { min-width: 125px; }

    .centerDiv { width: 250px; margin-left: -135px; }

    .shortcut a { display: block; padding: 5px 0; margin-left: 0; }

    .widget { display: block; width: 100%; margin-bottom: 20px; }

    span.error[style*="inline"] { margin-bottom: 15px; display: inline-block !important; margin-left: 0; margin-right: 15px; }
    
    table.table-add-edit tbody tr td input, table.table-add-edit tbody tr td .calendar-wrapper, table.table-add-edit tbody tr td .js-listbox-container, table.table-add-edit tbody tr td select { margin-bottom: 15px; }

    .widget:last-of-type { margin-bottom: 0; }

    .manual img { max-width: 100%; }

    .manual .box figure { margin: 0 auto; float: none; }
}