/* Default Rules */

/*
    Table of Contents

    1. Default Html
        - 1.1 Font
        - 1.2 Html Tags
        - 1.3 Html Fields
    2. Classes
        - 2.1 General
        - 2.2 Common
*/

/*
    1. Default Html

    1.1 Font
*/

@font-face {
    font-family: Arcon;
    src: url(arcon.regular.otf);
}

/* 
    1.2 Html tags
*/

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", "Open Sans", sans-serif;
}

html, body, form {
    background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6, a, p, span {
    font-weight: 400;
    letter-spacing: 1px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 19px;
}

a, p, span {
    font-size: 16px;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

    a, a:hover, a:active, a:focus {
        -moz-user-select: none;
        outline: none;
    }

/*
    2. Classes

    2.2 Common
*/

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.disabled {
    cursor: not-allowed;
    filter: grayscale(100%);
}

.hidden {
    display: none;
    visibility: hidden;
}

.no-select {
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
}

.no-resize {
    padding: 5px;
    resize: none;
}

.box:first-of-type {
    margin-top: 0;
}
.box {
    background-color: #fff;
    border-color: #f08a00 #e5e2df #e5e2df;
    border-radius: 3px;
    border-style: solid;
    border-width: 4px 1px 1px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    margin-top: 20px;
    overflow: auto;
    padding: 15px;
}
* {
    font-family: "Lato","Open Sans",sans-serif;
    margin: 0;
    padding: 0;
}
* {
    font-family: "Lato","Open Sans",sans-serif;
}
* {
    font-family: "Lato","Open Sans",sans-serif;
}
* {
    font-family: "Lato","Open Sans",sans-serif;
}
* {
    font-family: "Lato","Open Sans",sans-serif;
}


/* Sidebar */

#sidebar-container {
    width: 220px;
    position: fixed;
    bottom: 0;
    top: 100px;
    background: #40464b none repeat scroll 0 0;
    border-top: 4px solid #f08a00;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



/* Header */

#header .fa {
    color: #f08a00;
    font-size: 30px;
}

#header,
#header span {
    color: #f4f4f4;
}

#header-container {
    display: table;
    width: 100%;
    height: 100px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#header-container #header img,
#header-container #header h1,
#header-container #header h2,
#header-container #header img,
#header-container #header div {
    display: inline;
    vertical-align: middle;
}

#header h1:first-of-type::after {
    content: "-";
    font-size: 24px;
    margin-right: 5px;
}

#header-container #header h2 {
    font-size: 16px;
    line-height: 96px;
    display: inline-block;
}

#header-container #header div i {
    height: 96px;
    vertical-align: middle;
    line-height: 88px;
    margin-left: 15px;
    margin-right: 5px;
}

#header-container #header div a {
    display: inline-block;
}

#header {
    background-color: #40464b;
    color: #f7f7f7;
    border-top: 4px solid #f08a00;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#header-container #header #logo {
    width: 200px;
}

#header-container #header > a {
    display: inline-block;
}

#header-container #header > h1 {
    margin-left: 20px;
}

#header-container #header {
    display: table-cell;

}

/* Content */

#content {
    margin-left: 220px;
    padding: 20px;
}

#content span,
#content p {
    color: #202228;
}

.button {
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 44px;
    padding: 5px 15px;
    border-radius: 3px;
    border: none;
    border: 1px solid #e5e2df
}

.button-save {
    margin-right: 15px;
   
}

.button-cancel {

}

.buttons {
    border-color: #e5e2df;
    background-color: #f7f7f7;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    padding: 15px 10px;
    margin-top: 30px;
}

/* Content Boxes */

.box {
    border-color: #f08a00 #e5e2df #e5e2df;
    background-color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 4px 1px 1px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    padding: 15px;
    margin-top: 20px;
    overflow: auto;
}

.box:first-of-type {
    margin-top: 0;
}

.box:last-of-type {
    margin-bottom: 0;
}

.box h2 {
    font-size: 24px;
}

.box p:last-child {
    padding-bottom: 0;
}

#explanation-box {
    padding: 15px;
}

#explanation-box h2 {
    padding-bottom: 5px;
    color: #202020;
}

#explanation-box h2 {
    font-size: 24px;
}

#explanation-box span {
    color: #202020;
}

.shortcut {
    background-color: #f7f7f7;
    margin-top: 5px;
    line-height: 1.8em;
}

.shortcut a {
    color: #f08a00;
    font-size: 14px;
    font-family: "Lato", "Open Sans", sans-serif;
    cursor: pointer;
}
.shortcut a:before {
   margin-right: 5px;
   color: #139b49;
   font-family: 'FontAwesome';
}

.shortcut a:hover:before {
    color: #1cb94e;
}








/* Sidebar - Navigation */

 #sidebar-container #navigation-container #mobile-menu {
    display: none;
}

 #sidebar-container #navigation-container { 
    position: relative;
    width: 100%;
}

    #sidebar-container #navigation-container ul li {
        height: 58px;
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
 
        /* Ignore Text Highlight */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

 #sidebar-container #navigation-container ul li a {
    color: #dadada;
    padding-left: 50px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    line-height: 58px; 

    /* CSS3 Transition */
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

 #sidebar-container #navigation-container .nav-menu:hover {
    /* CSS3 Transition */
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.nav-menu-active {
    background-color: #2d3135;
    border-left: 4px solid #795094;
}

#sidebar-container #navigation-container .nav-menu:active {
    background-color: #2d3135;
    border-left: 4px solid #664080;
    /* CSS3 Shadow */
    -webkit-box-shadow: inset 0 5px 5px 0 #000000;
    box-shadow: inset 0 5px 5px 0 #000000;
}















/* GridView */

 #content .gridview table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    overflow: hidden;
    border: 1px solid #2a333b;
    margin-top: 15px;
}

     #content .gridview table td,
     #content .gridview table th {
        padding: 3px 10px;
    }

     #content .gridview table tbody tr td,
     #content .gridview table thead tr th {
        white-space: nowrap;
    }

        #content .gridview table thead tr th{
            font-size: 20px;
        } 
        
        #content .gridview table tbody tr td:last-of-type {
            min-width: 85px;
        }

        .center { text-align: center;}

     #content .gridview table thead th {
        color: #202020;
        font-size: 15px;
        border: 1px solid #2a333b;
        font-weight: 400;
    }

     #content .gridview table tbody td {
        border-left: 1px solid #2a333b;
        border-color: #2a333b;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.4em;
    }

     #content .gridview table tbody .alt td {
        border-color: #2a333b;
    }

    #content .gridview table tbody td:first-child {
        border-left: none;
    }

    #content .gridview table tbody tr:last-child td {
        border-bottom: none;
    }

.options {
    text-align: center;
    width: 150px;
}

    .options a {
        font-size: 20px;
        padding: 0 1px;
    }

    .delete {
        color: #fa010f;
    }









 /* Jouw Software ASP ListBox */
.js-listbox-container {
    background-color: #f7f7f7;
    padding: 30px;
    min-height: 170px;
    border-color: #f08a00 #e5e2df #e5e2df;
    border-radius: 3px;
    border-style: solid;
    border-width: 4px 1px 1px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
}

.js-listbox-wrapper {
    display: inline-block;
}

.js-listbox-button-area {
    display: inline-table;
    padding-left: 2px;
}

.js-listbox-button-area ul {
    text-align: center;
    list-style: none;
}

.js-listbox {
    cursor: default;
    display: inline-block;
    min-width: 11.6667em;
    position: relative;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    color: #202228;
}

.js-listbox  {
    height: 100%;
}

.js-listbox-source,
.js-listbox-destination {
    display: inline-block;
    height: 150px;
    width: 200px;
}

/*.js-listbox-source select {
    width: 80%;
}*/

    .js-listbox-source select > option,
    .js-listbox-destination select > option {
        padding: 5px;
    }

    .js-listbox-source select > option:hover,
    .js-listbox-destination select > option:hover {
        background-color: #f08a00;
        color: #ffffff;
    }

    .js-listbox-source select[multiple] option:checked,
    .js-listbox-destination select[multiple] option:checked {
        background: #795094 linear-gradient(#795094, #795094 0%, #795094 100%);
        color: #ffffff;
    }

        .js-listbox-source select[multiple] option:checked:after,
        .js-listbox-destination select[multiple] option:checked:after {
            color: #ffffff;
        }

/*.js-listbox-destination select {
    width: 100%;
}*/

.js-listbox-button {
    border-radius: 3px;
    font-weight: lighter;
    padding: 6px;
    margin-bottom: 10px;
}


/* Calendar */
.calendar-wrapper {
    background-color: #f08a00;
    border: 1px solid #e5e2df;
    padding: 30px;
    width: 330px;
    border-color: #f08a00 #e5e2df #e5e2df;
    border-radius: 3px;
    border-style: solid;
    border-width: 4px 1px 1px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
}

.calendar {
    border: none !important;
}

    .calendar tbody tr:first-of-type td {
        background-color: transparent !important;
        font-size: 24px;
        font-weight: lighter;
    }

.calendar-next-prev a  {
    color: #f4f4f4 !important;
    font-size: 42px;
}
.calendar .calendar-title {
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    background-color: transparent !important;
    color: #f7f7f7;
    border: none !important;
}

.calendar .calendar-selected-day {
    background-color: #d2a3b4 !important;
    -webkit-box-shadow: inset 0 0 10px -3px #40464b;
    box-shadow: inset 0 0 10px -3px #40464b;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

    .calendar .calendar-selected-day a {
    
    }

.calendar-unavailable {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 22px;
    cursor: not-allowed !important;
}

.calendar {
    border-collapse: unset !important;
}

.calendar-day-header {
    padding: 7px 10px;
    border-top: 1px solid #ddd;
}


.calendar .calendar-day, .calendar .calendar-day-header {
 
    font-size: 18px;
    color: #f7f7f7 !important;
    background-color: #f08a00;
}
       
.calendar .calendar-day-header:last-child {
    border-right: none;
}

    .calendar .calendar-day a {
        font-size: 18px;
        color: #f7f7f7 !important;
        padding: 10px;
        display: block;
    }


.calendar tr td.calendar-day, .calendar tr th.calendar-day-header {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.calendar tr td:first-child.calendar-day, .calendar tr th:first-child.calendar-day-header {
    border-left: 1px solid #ddd;
}

.calendar tr td:last-child.calendar-day, .calendar tr th:last-child.calendar-day-header {
    border-right: 1px solid #ddd !important;
}

.calendar tr:last-child td.calendar-day {
    border-bottom: 1px solid #ddd;
}

.calendar .calendar-other-month-day {
    background-color: #f08a00;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.calendar td:first-child.calendar-other-month-day {
    border-left: 1px solid #ddd;
    height: 42px;
    min-height: 42px;
    max-height: 42px;
}





/* Table add edit */

table.table-add-edit tbody tr td input,
table.table-add-edit tbody tr td .calendar-wrapper,
table.table-add-edit tbody tr td .js-listbox-container {
    margin-bottom: 30px;
}

table .aspNetDisabled {
    padding: 5px 10px;
    cursor: not-allowed;
}



td.label {
    line-height: 2em;
    text-align: left;
    vertical-align: top;
    width: 250px;
}

td.required::after {
    color: #fa010f;
    content: "*";
    font-size: 20px;
}

td.error span {
    color: #fa010f !important;
    margin-left: 15px;
    background-color: #ffd8d8;
    padding: 10px;
    border: 1px solid #fa010f;
}



/* responsive */
@media screen and (max-width: 48em) {
    #sidebar-container {
        border-right: none;
        position: relative;
        width: 100%;
    }

    #sidebar-container #logo {
        display: none;
    }

    #header, 
    #content, 
    #footer {
        margin-left: 0;
    }

    #header #user { display: none; }
    #sidebar-container #navigation-container ul li a { padding-left: 20px; }
    #sidebar-container #navigation-container #NavigationControl_nav { display: none; }
    #sidebar-container #navigation-container #mobile-menu { display: block; height: auto; padding: 15px 20px; cursor: pointer; }
    #sidebar-container #navigation-container #mobile-menu .slicknav_icon { display: block; }
    #sidebar-container #navigation-container #mobile-menu .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em; }
    #sidebar-container #navigation-container #mobile-menu #slicknav_menu .slicknav_icon-bar { background-color: #dadada; }
    #sidebar-container #navigation-container #mobile-menu #slicknav_menu .slicknav_icon-bar { border-radius: 1px; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); display: block; height: 0.125em; width: 1.125em; }

    .textbox { width: auto; }
    .label { min-width: 125px; }

    .centerDiv { width: 250px; margin-left: -135px; }
}












